<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Change-Password</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
		<link rel="stylesheet" href="change-password.css">
	</head>
	<body>
		<div class="container-fluid">
			<div class="row main-content bg-success text-center">
				<div class="col-md-4 text-center company__info">
					<span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
					<h4 class="company_title"></h4>
				</div>
				<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
					<div class="container-fluid">
						<div class="row" style="text-align: center;">
							<h2 style="margin-left: 45px; margin-top: 20px;">Change-Password</h2>
						</div>
						<div class="row">
							<form control="" id="reg-form"  class="form-group">
								<div class="row">
									<!-- <span class="fa fa-lock"></span> -->
									<input type="password" name="password" id="password" class="form__input" placeholder="Password">
								</div>
								<div class="row">
									<input type="submit" value="Submit" class="btn">
								</div>
							</form>
						</div>
						<div class="row">
							<p>Don't have an account? <a href="/register">Register Here</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			const form = document.getElementById('reg-form')
			form.addEventListener('submit', registerUser)

			async function registerUser(event) {
				event.preventDefault()
				const password = document.getElementById('password').value

				const result = await fetch('/api/change-password', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						newpassword: password,
						token: localStorage.getItem('token')
					})
				}).then((res) => res.json())

				if (result.status === 'ok') {
					// everythign went fine
					alert('Success')
				} else {
					alert(result.error)
				}
			}
		</script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</body>
</html>